
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: Comic Sans MS; 
    line-height: 1.6;
    background-color: #ffffff;
}

/* Estilos de perfil.html para el body */
.perfil-body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;


}

/* --- Estilos del Encabezado de index ---- */

header {
    padding: 10px;
    background-color: #689ed5;
}

nav ul {
    list-style: none;
    display: flex;
}

.nombre-pagina,
.usuario,
.search-container {
    flex-grow: 1; 
    text-align: center; 
    padding: 10px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 100%; 
}


.nombre-pagina {
    justify-content: flex-start; 
    text-align: left; 
    color: white; 
    font-size: 1.5em; 
    font-weight: bold;
}
.usuario {
    color: white; 
    font-size: 1.2em;
}
.search-container {
    justify-content: flex-end; 
}

.ucv-small {
    font-size: 0.7em;
    vertical-align: sub;
}

.search-form {
    display: flex;
    gap: 5px;
}

.search-form input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: black; 
    background-color: white;
}

.search-form button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;

    background-color: #d5e5f8; 
    color: #007bff; 
    border: 1px solid #d5e5f8;
}

.search-form button:hover {
    background-color: #0056b3;
}


/* --- Estilos de la Galería  --- */
section {
    padding: 0px;
    min-height: 400px;
}

.gallery {
    list-style: none;
    padding: 0; 
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

.person-card {
    border: 1px solid #ccc;
    background-color: #f4f4f8;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    box-shadow: 1px 1px 0px rgb(202, 201, 201);

    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out; 
    overflow: hidden; 
    position: relative; 
    z-index: 1;
}

.person-card:hover {
    transform: scale(1.05) rotateZ(3deg); 
    background-color: #99c5dd; 
    z-index: 10; 
}

.person-card:hover .foto,
.person-card:hover p {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.person-card .foto {
    width: 100%;
    height: 150px; 
    object-fit: contain; 
    display: block;
    margin: 0 auto; 
    align-self: center;
}

.person-card p {
    color: #0056b3;
    font-size: 14px;
    margin: 0;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}


footer {
    padding: 20px;
    background-color: #689ed5;
    text-align: center;
    color: #ffffff;
}

/* ---- Estilos de Perfil ---------*/

.perfil-card {
    border-top-left-radius: 30px;
    display: flex;
    background-color: white;
    width: 1000px;
    gap: 5px;
}

.foto-container {
    flex-shrink: 0;
    width: 250px;
    overflow: hidden;
}

.foto-perfil {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-top-left-radius: 30px;
}

.content-container {
    font-size: 20px;
    border: 1px solid black; 
    padding: 20px 15px;
    flex-grow: 1;
    box-shadow: 
        5px 5px 0px rgb(116, 105, 105);
}

.nombre {
    font-family: Arial, sans-serif; 
    font-size: 50px;
    color: orange;
    margin-top: 0;
    margin-bottom: 10px;
}

.content-container p {
    font-family: Arial, sans-serif;
    color: #000000;
    line-height: 1.2;
    margin-bottom: 10px;
}

.details-container,
.correo-container {
    font-family: Times New Roman;
    font-size: 18px;
}

.details-container {
    color: #000000;
    display: flex;
    margin-top: 15px;
}

.preguntas-container {
    width: 300px;
    flex-shrink: 0;
}

.respuestas-container {
    flex-grow: 1;
}


.correo-container a {
    color: orange;
    text-decoration: none;
}

.correo-container a:hover {
    text-decoration: underline;
}

.correo-container a:active {
    color: red;
}


/* Para cuando la pantalla está entre 320px y 480px */

@media screen and (min-width: 320px) and (max-width: 480px){
    
/*Estilos para perfil */
    .perfil-card {
        width: 95%;
    }

    .foto-container {
        width: 30%;
    }
    .foto-perfil {
        width: 100%; 
        height: 100%;;
    }

    .content-container {
        font-size: 10px;
        padding: 5px;
        box-shadow: 2px 2px 0px rgb(116, 105, 105); 
    }

    .nombre {
        font-size: 20px;
    }
    
    .details-container > div {
        line-height: 1.5;
    }

    .details-container,
    .correo-container {
        font-size: 9px;
    }

    .preguntas-container {
        width: 130px ;
    }

/* Estilos para index*/
    .nombre-pagina {
        font-size: 0.7em; 
    }
    .usuario {
        font-size: 0.7em;
    }
    .ucv-small {
        font-size: 0.5em;
    }

    .search-form {
        gap: 3px;
    }

    .search-form input {
        padding: 2px;
        font-size: 0.5em;
        width: 50px
    }

    .search-form button {
        padding: 3px 1px;
        font-size: 0.5em;
        width: 30px;
    }


    .gallery {
        grid-template-columns: repeat(2, 1fr); 
        max-width: 97%;
        padding: 5px;
        gap: 5px;
    }

    .person-card p{
        font-size: 0.7em;
    }

    footer {
        padding: 20px;
        font-size: 0.7em;
    }

}

/*Ajuste adicional para que se vea mejor colocando 2 usuarios por fila
para cuando la resolución de pantalla es más amplia */
@media screen and (min-width: 400px) and (max-width: 480px){

    .nombre-pagina {
        font-size: 0.9em; 
    }
    .ucv-small {
        font-size: 0.7em;
    }

    .usuario {
        font-size: 0.8em; 
    }

    .search-form input {
        width: 70px
    }

    .gallery {
        max-width: 90%;
        padding: 5px;
        gap: 10px;
    }

    .person-card p{
        font-size: 0.9em;
    }
}

/*Para cuando la pantalla está entre 481px y 768px */

@media screen and (min-width: 481px) and (max-width: 768px){
    

    .perfil-card {
        width: 90%;
    }

    .foto-container {
        width: 30%;
    }

    .foto-perfil {
        width: 100%; 
        height: 100%; 
    }

    .content-container {
        font-size: 14px;
        padding: 15px;
        box-shadow: 3px 3px 0px rgb(116, 105, 105);
    }

    .nombre {
        font-size: 30px;
        margin-bottom: 5px;
    }
    
    .details-container > div {
        line-height: 1.5;
    }

    .details-container,
    .correo-container {
        font-size: 10px;
    }

    .preguntas-container {
        width: 180px ;
    }

    /*--- Estilos para index ---*/

    .person-card p{
        font-size: 12px;
    }

    .gallery {
        max-width: 95%; 
        padding: 10px;
        gap: 10px; 
    }


    .nombre-pagina {
        font-size: 1em; 
    }
    .usuario {
        font-size: 0.9em;
    }
    .ucv-small {
        font-size: 0.7em;
    }

    .search-form {
        gap: 3px;
    }

    .search-form input {
        padding: 2px;
        font-size: 0.7em;
        width: 80px
    }

    .search-form button {
        padding: 3px 5px;
        font-size: 0.7em;
    }
}

/*Para cuando la pantalla está entre 769px y 1024px*/

@media screen and (min-width: 769px) and (max-width: 1024px){
    

    .perfil-card {
        width: 90%; 
        
    }
    .content-container {
        font-size: 18px; 
        padding: 15px;
        box-shadow: 3px 3px 0px rgb(116, 105, 105); 
        border-top: none; 
    }

    .preguntas-container {
        width: 250px ;
    }

    .details-container,
    .correo-container {
        font-size: 14px;
    }
}